[package]
name = "bevy_tts"
version = "0.1.0"
authors = ["Nolan Darilek <nolan@thewordnerd.info>"]
license = "mit"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["tolk"]
tolk = ["tts/tolk"]

[dependencies]
bevy = { version = "0.6", default-features = false }
crossbeam-channel = "0.5"
tts = "0.20"

[dev-dependencies]
bevy = { version = "0.6", default-features = true }