[package]
name = "bevy_tts"
version = "0.1.0"
authors = ["Nolan Darilek <nolan@thewordnerd.info>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["tolk"]
tolk = ["tts/tolk"]

[dependencies]
bevy = "0.4"
tts = { version = "0.14" }